$background: #00aca0;
$tabs-base-color: #8e44ad;
$white: #fff;

@import url(https://fonts.googleapis.com/css?family=Varela+Round);
$varela-round: 'Varela-Round', sans-serif;
$helvetica: Helvetica, Arial, sans-serif;